<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.app.mapper.TodoMapper">
  <select id="selectAll" resultType="com.todo.app.entity.Todo">
    select i.*, p.priority_name, c.category_name from items_table i
    	left join priority_m_table p on i.priority = p.priority_id
    	left join category_m_table c on i.category = c.category_id
    	order by i.id
  </select>

  <select id="selectIncomplete" resultType="com.todo.app.entity.Todo">
    select i.*, p.priority_name, c.category_name from items_table i
    	left join priority_m_table p on i.priority = p.priority_id
    	left join category_m_table c on i.category = c.category_id
    	where i.done_flg = false
    	order by i.id
  </select>

  <select id="selectComplete" resultType="com.todo.app.entity.Todo">
    select i.*, p.priority_name, c.category_name from items_table i
    	left join priority_m_table p on i.priority = p.priority_id
    	left join category_m_table c on i.category = c.category_id
    	where i.done_flg = true
    	order by i.id
  </select>

  <select id="selectById" resultType="com.todo.app.entity.Todo" parameterType="int">
    select i.*, p.priority_name, c.category_name from items_table i
    	left join priority_m_table p on i.priority = p.priority_id
    	left join category_m_table c on i.category = c.category_id
    	where i.id = #{id}
    	order by i.id
  </select>
	
  <select id="selectChildList" resultType="com.todo.app.entity.Todo" parameterType="int">
	select i.*, p.priority_name, c.category_name from items_table i
    	left join priority_m_table p on i.priority = p.priority_id
    	left join category_m_table c on i.category = c.category_id
    	where i.parent_id = #{parent_id}
    	order by i.id 
  </select>

  <insert id="add"  useGeneratedKeys="true" keyProperty="id" parameterType="com.todo.app.entity.Todo">
    insert into items_table (title, work_plan_day, priority, 
    	category, parent_id, memo)
    values (#{title}, to_date(#{work_plan_day},'yyyy-mm-dd'), #{priority}, 
    	#{category}, #{parent_id}, #{memo})
  </insert>

  <update id="update" parameterType="com.todo.app.entity.Todo">
    update items_table set
      title = #{title},
      work_plan_day = to_date(#{work_plan_day},'yyyy-mm-dd'),
      done_flg = #{done_flg},
      priority = #{priority},
      category = #{category},
      memo = #{memo}
      where id = #{id}
  </update>

  <delete id="delete" parameterType="com.todo.app.entity.Todo">
    delete from items_table where done_flg = true
  </delete>

</mapper>